# ═══════════════════════════════════════════════════════════════════
# AegisVault Global Environment Configuration (.env.example)
# Copy this file to .env before starting Docker Compose or local dev
# ═══════════════════════════════════════════════════════════════════

# Database Configuration (PostgreSQL 16)
DB_PASSWORD=securep@ss123
DATABASE_URL_AUTH=postgresql://aegis_admin:securep@ss123@postgres:5432/aegisvault?schema=auth_db
DATABASE_URL_ACCT=postgresql://aegis_admin:securep@ss123@postgres:5432/aegisvault?schema=acct_db
DATABASE_URL_TXN=postgresql://aegis_admin:securep@ss123@postgres:5432/aegisvault?schema=txn_db
DATABASE_URL_NOTIF=postgresql://aegis_admin:securep@ss123@postgres:5432/aegisvault?schema=notif_db
DATABASE_URL_ADMIN=postgresql://aegis_admin:securep@ss123@postgres:5432/aegisvault?schema=admin_db

# Redis Configuration (Redis 7 - Sessions, Rate Limiting, OTP TTL)
REDIS_URL=redis://redis:6379

# Authentication & JWT Secrets
JWT_SECRET=aegisvault-super-secret-jwt-key-2026
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Email / SMTP Server Configuration (Nodemailer - Mailtrap / Gmail Sandbox)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=test_smtp_user
SMTP_PASS=test_smtp_password
SMTP_FROM="AegisVault Security <no-reply@aegisvault.com>"

# Internal Microservice Container URLs (Docker Compose Networking)
AUTH_SERVICE_URL=http://auth-service:3001
ACCOUNT_SERVICE_URL=http://account-service:3002
TRANSACTION_SERVICE_URL=http://transaction-service:3003
NOTIFICATION_SERVICE_URL=http://notification-service:3004
ADMIN_SERVICE_URL=http://admin-service:3005
API_GATEWAY_URL=http://api-gateway:3000

# Next.js Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000

# Application Port Configurations
GATEWAY_PORT=3000
AUTH_PORT=3001
ACCT_PORT=3002
TXN_PORT=3003
NOTIF_PORT=3004
ADMIN_PORT=3005
CLIENT_PORT=8080
